* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    /* background-color: rgb(223, 215, 215); */
}

nav {
    background-color: black;
    width: 100%;
    position: fixed;
}

.menu {
    width: 100%;
    background-color: salmon;
    padding-top: 100px;
}

.menu ul {
    margin: auto;
    width: 80%;
    padding: 20px 0;
}

.menu ul li {
    display: inline-block;
    padding-left: 70px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
}

.offer_banner {
    width: 100%;
}

.first_order_offer h1 {
    text-align: center;
}

.sub_excited_offer {
    width: 35%;
    margin: auto;
}

.logo img {
    width: 200px;
    height: 100px;
}

.location i {
    color: white;
}

.container {
    width: 80%;
    margin: auto;
    background-color: rgb(245, 233, 233);
}

.mySlides {
    display: none;
}

span {
    display: none;
}


/* img {
    vertical-align: middle;
} */


/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}


/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}


/* Fading animation */

.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.cart i {
    color: white;
    position: absolute;
    right: 78px;
    top: 44px;
    font-size: 31px;
}

.footer_data {
    width: 100%;
    display: flex;
}

.payment {
    width: 25%;
}

.payment h2 {
    text-align: left;
}

.payment ul li {
    text-align: left;
    list-style: none;
    padding-left: 20px;
    line-height: 40px;
}

.payment ul a {
    text-decoration: none;
    color: gray;
}

.payment ul li h4 {
    color: green;
}

.payment ul li i {
    font-size: 35px;
    border-radius: 50%;
    padding-left: 20px;
}


/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}

.bank_offers {
    margin-top: 50px;
    display: inline-table;
}

.bank_offers img {
    width: 300px;
    height: 200px;
    padding: 10px;
}

.bank_offers h1 {
    padding: 50px 0 0 550px;
}

.cashback_offer {
    margin: 50px 50px;
    background-color: orangered;
}

.cashback_offer p {
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 20px 20px 20px 400px;
}

.img_slide {
    width: 200px;
    height: 100px;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.shop_by_category {
    margin-top: 50px;
}

.fresh {
    display: flex;
    flex-direction: row;
}

.veg {
    width: 47%;
}

.search-container {
    float: right;
}

input[type=text] {
    padding: 6px;
    /* margin-top: 8px; */
    font-size: 17px;
    position: absolute;
    top: 40px;
    right: 200px;
    width: 500px;
    border: none;
}

button i {
    color: white;
    position: absolute;
    top: 45px;
    right: 165px;
    width: 30px;
    height: 25px;
    padding: 5px 0 0 2px;
    background-color: gray;
}

.search-container button {
    float: right;
    padding: 0px 10px;
    margin-top: -76px;
    margin-right: 168px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.search-container button:hover {
    background: #ccc;
}

.delievery img {
    width: 100%;
    padding-top: 20px;
}


/* .excited_offer {
    display: grid;
    grid-template-row: repeat(2, 1fr);
} */


/* .sub_excited-offer {
    width: 50%;
} */

.best_savers {
    display: flex;
    flex-direction: row;
}

.saver_pack {
    display: flex;
    flex-direction: row;
    overflow: auto;
    white-space: nowrap;
}

.sub_saver_pack {
    border: 1px solid gray;
    padding: 15px;
}

.sub_saver_pack img {
    width: 150px;
    height: 100px;
}

.h1 {
    width: 200px;
}

.See_all {
    width: 85px;
    height: 30px;
    position: relative;
    left: 925px;
}

.shop_by_category h1 {
    text-align: center;
}

.shop_by_category h1:hover {
    text-decoration: underline;
}

.offer_banner {
    margin-top: 50px;
}

.offer_banner img {
    width: 100%;
}

.copyright {
    width: 100%;
    background-color: darkgoldenrod;
}

.copyright p {
    text-align: center;
    padding: 20px 0;
}

.footer_row {
    width: 100%;
    display: flex;
}

.payment {
    width: 50%;
}

.footer_data {
    width: 45%;
}

.overlay {
    display: none;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media only screen and (max-width: 428px) {
    nav {
        /* height: 100vh; */
        /* display: none; */
        width: 425px;
    }
    .logo img {
        width: 136px;
        height: 54px;
        margin: 6px 0 0 0;
    }
    .overlay {
        display: block;
    }
    .bank_offers h1 {
        padding: 0;
        padding-left: 35%;
    }
    .bank_offers img {
        width: 100%;
        padding: 20px;
        height: 255px;
    }
    .offer_banner img {
        width: 100%;
        height: 225px;
        padding-top: 75px;
    }
    .offer_banner {
        margin-top: 0;
    }
    .container {
        width: 100%;
    }
    .cashback_offer {
        margin: 35px 50px;
    }
    .cashback_offer p {
        padding: 0px;
    }
    .menu {
        display: none;
    }
    /* img {
        width: 100%;
    } */
    .products {
        grid-template-columns: repeat(1, 1fr);
    }
    .fresh {
        flex-direction: column;
    }
    .veg {
        width: 100%;
    }
    .veg img {
        width: 100%;
    }
    .delievery img {
        width: 100%;
    }
    .excited_offer {
        display: flex;
        flex-direction: column;
    }
    .sub_excited_offer {
        width: 100%;
    }
    .h1 {
        width: 200px;
    }
    .See_all {
        display: none;
        width: 85px;
        height: 30px;
        /* margin-left: 140px; */
    }
    .saver_pack {
        display: flex;
        flex-direction: row;
        overflow: auto;
        white-space: nowrap;
    }
    .cart i {
        position: absolute;
        right: 18px;
        top: 24px;
        font-size: 31px;
    }
    input[type=text] {
        padding: 6px;
        /* margin-top: 8px; */
        font-size: 17px;
        position: absolute;
        top: 22px;
        left: 172px;
        width: 193px;
        border: none;
    }
    button i {
        color: white;
        position: absolute;
        top: 27px;
        right: 65px;
        width: 30px;
        height: 25px;
        padding: 5px 0 0 2px;
        background-color: gray;
    }
    /* .logo img {
        width: 131px;
        height: 65px;
        margin: -65px 0 0 48px;
    } */
    .toggle i {
        color: white;
        font-size: 40px;
        padding: 16px 0 0 10px;
    }
    .payment {
        width: 50%;
    }
    .payment ul li i {
        padding-left: 7px;
    }
    .footer_row {
        flex-direction: column;
    }
    .footer_data {
        width: 100%;
    }
}

@media only screen and (min-width: 428px) and (max-width: 770px) {
    nav {
        width: 768px;
    }
    input[type=text] {
        width: 400px;
    }
    .menu {
        width: 768px;
        padding-top: 120px;
    }
    .menu ul {
        width: 100%;
    }
    .menu ul li {
        padding-left: 11px;
        font-size: 15px;
    }
    .offer_banner img {
        width: 768px;
    }
    .delievery img {
        width: 768px;
    }
    .payment {
        width: 50%;
    }
    .fresh {
        width: 768px;
    }
    .veg img {
        width: 112%;
        margin-left: 20px;
        margin: auto;
    }
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
    .container {
        width: 100%;
    }
    .footer_data {
        width: 90%;
        margin: auto;
    }
    .footer_row {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .See_all {
        display: none;
    }
    .item img {
        width: 90%;
    }
    .bank_offers h1 {
        padding: 0;
        text-align: center;
    }
    .bank_offers img {
        width: 50%;
        margin-bottom: 20px;
    }
    .sub_excited_offer {
        width: 55%;
    }
}

@media only screen and (min-width:770px) and (max-width:1028px) {
    nav {
        width: 1024px;
    }
    .menu {
        padding-top: 110px;
        width: 1024px;
    }
    .menu ul {
        width: 100%;
    }
    .menu ul li {
        padding-left: 42px;
    }
    .container {
        width: 100%;
    }
    .See_all {
        display: none;
    }
    .item img {
        width: 100%;
    }
    .veg img {
        width: 112%;
        padding: 10px;
    }
    .cashback_offer p {
        text-align: center;
        padding: 20px 0;
    }
    .payment ul li {
        padding-left: 10px;
    }
    .bank_offers img {
        width: 25%;
        padding: 10px;
    }
    .bank_offers h1 {
        padding: 0;
        text-align: center;
    }
}


/* Fruits & Vegetables */

.fruit {
    display: flex;
}

.fruit img {
    width: 243px;
    padding: 10px;
}